<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>06_regex</title>
</head>
<body>
    <h1>06_regex</h1>
    <a href="/qqq">/qqq</a>
    <a href="/qqqwer">/qqqwer</a>
    <br/>
    <a href="/aaa">/aaa</a>
    <a href="/aaawer">/aaawer</a>
    <br/>
    <a href="/bbb/123">/bbb/123</a>
    <a href="/bbb/qwer">/bbb/qwer</a> <!-- 숫자가 아니기 때문에 에러발생-->
    <a href="/bbb/ccc">/bbb/ccc</a>
    <a href="/bbb/ddd">/bbb/ddd</a>
</body>
</html>