.stBox{
    width: 200px;
    height: 200px;
    float: left;
    padding: 10px;
    margin: 5px;
    background-color: #ff0;
}

.stBox > div{
    width: 70px;
    height: 3rem;
    line-height: 3rem;
    float: left;
}

.stBox > .stTitle, .stBox > .stData{
    border: 1px solid #ccc;
    margin: 5px;
    padding: 3px;
}