header{
  width: 100vw;
  height: 60px;
  border: 1px solid #333;
  box-sizing: border-box;
}

aside{
  width: 30vw;
  height: 300px;
  border: 1px solid #333;
  box-sizing: border-box;
  float: left;
}


main{
  width: 70vw;
  height: 300px;
  border: 1px solid #333;
  box-sizing: border-box;
   float: left;
}

footer{
  width: 100vw;
  height: 100px;
  border: 1px solid #333;
  box-sizing: border-box;
  clear: both;
}