<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fetchHome</title>
    <style>
        #cons{
            width: 800px;
            border: 1px solid #ccc;
            margin: 10px;
            padding: 10px;
        }
    </style>
    <script>
        window.onload = function(){
            function consLog(msg){
                document.querySelector("#cons").innerHTML+=msg+'<br/>'
            }

            document.querySelector("#btn1").onclick=function(){
               fetch('/test1')      //   http://192.168.0.78/test1
               .then(answer=>{
                    console.log('정상 : ',answer.ok, answer.status)
                    //console.log('text() : ',answer.text())
                    return answer.text()  // Promise 처리 -> 다음 then 으로 리턴하여 확인
               })
               .then(data=>{
                    //console.log('data : ',data)
                    consLog(data)
               })
               .catch(err=>{
                    console.log('에러 : ',err.message)
               })
            }



            document.querySelector("#btn2").onclick=function(){
               fetch('/test2?pid=aaa&age=23',{
                method:'GET'
               })     
               .then(answer=> answer.text())
               .then(data=>consLog(data))
               .catch(err=>console.log('에러 : ',err.message))
            }

            document.querySelector("#btn3").onclick=function(){
                // json 키배열, 인덱스 배열 형태로 처리 
                /*
                const params= {
                    pid :'bbb',
                    age : 34,
                    marriage : true
                }*/

                const params= {
                    pid : document.querySelector("#pid").value,
                    age : document.querySelector("#age").value,
                    marriage : document.querySelector("#marriage").value
                }

                //consLog(params) //json은 객체
                //json ->  문자열
                const ttt = new URLSearchParams(params).toString()
                consLog(ttt)        //pid=bbb&age=34&marriage=true

               fetch(`/test2?${ttt}`,{
                method:'GET'
               })     
               .then(answer=> answer.text())
               .then(data=>consLog(data))
               .catch(err=>console.log('에러 : ',err.message))
            }
        }
    </script>
</head>
<body>
    <h1>fetchHome</h1>
    id <input type="text" id="pid"><br/>
    나이 <input type="text" id="age"><br/>
    결혼 <input type="text" id="marriage"><br/>
    <input type="button" value="btn1" id="btn1">
    <input type="button" value="btn2" id="btn2">
    <input type="button" value="btn3" id="btn3">
    <div id="cons"></div>
</body>
</html>