<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>routeUniv</title>
</head>
<body>
    <h1>routeUniv</h1>
    <h3>인문</h3>
    <a href="/human/kor">국어</a>
    <a href="/human/eng">영어</a>
    <a href="/human/ger">독어</a>
    <a href="/human/bok">복어</a>
    <a href="/human/high">고등어</a>
    <h3>경영</h3>
    <a href="/manage/kk">경영</a>
    <a href="/manage/ss">세무</a>
    <a href="/manage/hh">회계</a>
    <h3>예술계열</h3>
    <a href="/art/music">음악</a>
    <a href="/art/paint">미술</a>
    <a href="/art/dance">무용</a>
</body>
</html>