<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>삭제</title>
</head>
<body>
    <h1>삭제</h1>
    <form action="">
        <table border="">
            <tr>
                <td>암호</td>
                <td><input type="password" name="pw"></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" name="삭제">
                    <a href='/detail/{{id}}'>뒤로</a>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>