<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상세보기입니다.</title>
</head>
<body>
    <h1>상세보기입니다</h1>
    <table border="">
        <tr>
            <td>번호</td><td>{{md.id}}</td>
        </tr><tr>
            <td>학기</td><td>{{md.hakgi}}</td>
        </tr><tr>
            <td>종류</td><td>{{md.name}}</td>
        </tr><tr>
            <td>학생</td><td>{{md.pid}}</td>
        </tr><tr>
            <td>시험일</td><td>{{md.regDateStr}}</td>
        </tr><tr>
            <td>국어</td><td>{{md.kor}}</td>
        </tr><tr>
            <td>영어</td><td>{{md.eng}}</td>
        </tr><tr>
            <td>수학</td><td>{{md.mat}}</td>
         </tr><tr>
            <td>수학</td><td>{{md.mat}}</td>
        </tr>
    </table>
</body>
</html>