*{
    margin: 0;
    padding:0;
}
.date{
    font-size: 4rem;
}
.time{
    font-size: 3rem;
}

section{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #ff0;
    border-radius: 100px;
    margin: auto;
}

section > .grad{
    position: absolute;
    width: 4px;
    height: 95px;                     
    left:98px;
    top:5px;
    transform-origin: bottom center;
}

section > .grad > .big{
    
    width: 100%;
    height: 15px;
    background-color: #777; 
    
}

section > .grad > .small{
    
    width: 50%;
    height: 5px;
    background-color: #aaa;            
    margin: 0 auto;
}

section > .niddle{
    position: absolute;
    width: 2px;
    height: 85px;
    background-color: #f00;
    box-shadow: 3px 3px 5px #000;
    left:99px;
    top:15px;
    transform-origin: bottom center;
}

section > .niddle:nth-of-type(2){
    
    width: 2px;
    height: 75px;
    background-color: #0f0;
    left:99px;
    top:25px;  
}

section > .niddle:nth-of-type(1){
    
    width: 4px;
    height: 65px;
    background-color: #00f;
    left:98px;
    top:35px;  
}