<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>02_data</title>
</head>
<body>
    <h1>02_data</h1>
    이름 : {{pname}} <br/>
    arr : {{arr}} - {{arr[0]}}<br/>
    age : {{age}} <br/>
    mem : {{mem}} <br/>
    mem : {{mem.pid}} , {{mem.tel}} <br/>
</body>
</html>