//함수 정의
@function fn_1($aa:4px, $bb:1){

    @return ($aa*100 / $bb)
}

@function fn_2($aa:4px, $bb:1){

    @if $bb <= 0 {
        $bb : 1;
    }

    @return ($aa*100 / $bb)
}

div{
    margin: 20px;
    border: 1px solid #333;
}

.aaa{
    width: fn_1();  //함수의 리턴값으로 속성부여
    background-color: #ff0;
}

.bbb{
    height: fn_1(1px, 2);  //함수의 리턴값으로 속성부여  1 *100 / 2
    background-color: #ff0;
}

.ccc{
    width: fn_1(1px, 0);   // calc(infinity * 1px);
    background-color: #0f0;
}
.ddd{
    width: fn_2(1px, 0);   // 100px;
    background-color: #0f0;
}

.eee{
    width: fn_2(1px, 2);   // 100px;
    background-color: #0f0;
}