@import 'sub1.module.scss', 'sub2.module.scss';

.eee{
    width:200px;
    height: 50px;
    background-color: #f0f;
    margin: 20px;
}
.fff{
    width:200px;
    height: 50px;
    background-color: #ccf;
    margin: 20px;
}