@mixin aaa{  //정의부 : 직접 호출 하지 않음

    color: #00f;

    font:{
        size: 2rem;
        style: italic;
    }

    div{
        border: 1px solid #333;
        height: 10px;
    }
}

.bbb{
    //mixin 으로 정의한 스타일 불러오기
    @include aaa;
}

.ccc{
    //mixin 으로 정의한 스타일 불러오기
    @include aaa;
}



@mixin fff($p1, $p2){  //매개변수 $p1, $p2

    color: $p1;

    font:{
        size: $p2;
        style: italic;
    }
}

.ddd{
    @include fff(#fa0, 1.5rem)
}
.eee{
    @include fff(#0f0, 3rem)
}


@mixin fff_2($p1, $p2:2rem){  //매개변수 $p1, $p2:2rem   --> 2rem은 초기값

    color: $p1;

    font:{
        size: $p2;
        style: italic;
    }
}


.ggg{
    @include fff_2(#fa0, 1.5rem)
}
.hhh{
    @include fff_2(#0f0)
}


@mixin fff_3($p1, $p2...){  //매개변수 $p1, $p2:2rem   --> 2rem은 초기값

    width: 100px;
    height: 30px;
    margin: 5px;
    color: $p1;

    $no : 1;

    @each $e in $p2{
         &:nth-of-type(#{$no}){
            border:4px solid $e;
        }

        $no : $no +1;
    }
}

.iii{
    @include fff_3(#00f, #f00, #fa0, #a0f, #333)
}