header{
    width: 100%;
    height: 50px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

aside{
    width: 30%;
    height: 200px;
    float: left;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
main{
    width: 70%;
    height: 200px;
    float: left;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
footer{
    width: 100%;
    height:100px;
    clear: both;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.dark{
    background-color: #333;
    color: #ccc;
}
.yellow{
    background-color: #ff0;
    color: #333;
}
.pink{
    background-color: #faf;
    color: #333;
}